.layui-footer {
    text-align: center;
    font-size: 12px;
}

.iconfont {
    margin-right: 8px;
}

.layui-icon {
    margin-right: 8px;
    margin-left: 20px;
}

iframe {
    height: 100%;
    width: 100%;
}

.layui-footer {
    overflow: hidden;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #282B33;
}

.layui-nav-img {
    height: 40px;
    width: 40px;
}

.text-event {
    position: relative;
    top: 2px;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #009688;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
}

#welcome {
    user-select: none;
}